@using StatCoach.Helpers;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Static/Styles.min.css" rel="stylesheet" />
</head>
<body>
    Inloggad: @Html.CurrentUserDisplayName()<br />
    <ul class="nav">
        <li>@Html.ActionLink("Registrera", "Register", "Account")</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account")</li>
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        <li>@Html.ActionLink("Logga ut", "Logout", "Account")</li>
        <li>@Html.ActionLink("Lag", "Index", "Team")</li>
        <li>@Html.ActionLink("Skapa Lag", "Create", "Team")</li>
    </ul>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
